@using App.Models
@model ResponseModel<CategoryModel>

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    @if (!Model.Succeeded)
    {
        <p>er is iets mis gegaan: @Model.Message</p>
    }
    else {
        <h2>@Model.Data[0].Title</h2>
        <a asp-controller="Category" asp-action="Edit" asp-route-Id="Model.categoryresponseModel.Data[0].ID">Bewerken</a>
        <hr>

        <div class="note-container">
            @foreach (NoteModel note in Model.Data[0].NoteList)
            {
                <div class="note shadow-lg p-3 mb-5 rounded">
                    <h1>@note.Title</h1>
                    <p>@note.Text</p>
                    <br>
                    <p>
                        @for (int i = 0; i < note.TagList.Count() - 1; i++)
                        {
                            <span>@note.TagList[i].Title ,</span>
                        }
                        <span>@note.TagList.Last().Title</span>
                    </p>
                </div>
            }
        </div>
    }
</div>
<div>
    <a asp-controller="Home" asp-action="Index">Terug naar overzicht</a>
</div>
