@using App.Models
@model App.Models.ResponseModel<CategoryModel>

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CategoryModel</h4>
    <hr />
    @if (!Model.Succeeded)
    {
        <p>er is iets mis gegaan: @Model.Message</p>
    } else if (Model.Data.Count <= 0)
    {
        <p>er is geen Categorie gevonden</p>
    }
    else {
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data[0].ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data[0].ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data[0].Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data[0].Title)
        </dd>
    </dl>
    }
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Data[0].ID }) |
    <a asp-controller="Home" asp-action="Index" >Back to overview</a>
</div>
