@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Identity
@using NoteBaseLogicInterface.Models
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="text-center">
    <head>
        <header>

        </header>
    </head>
    <main>
        <h1>Alle jou notities</h1>
        @if (ViewBag.Data.Status != 200)
        {
            <p>er is iets mis gegaan: @ViewBag.Data.Message</p>
        }
        else
        @foreach (Note note in ViewBag.Data.Data) {
            <div>
                <h4>@note.Title</h4>
                <h3>@note.Category.Title</h3>
                <p>@note.MainBody</p>
                <br></br>
                <p>
                    @for (int i = 0; i < note.TagList.Count() - 1; i++)
                    {
                        <span>@note.TagList[i].Title ,</span>
                    }
                    <span>@note.TagList.Last().Title</span>
                </p>
            </div>
        }
    </main>
</div>
