@using Microsoft.AspNetCore.Identity
@using NoteBaseLogicInterface.Models
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@model List<CategoryModel>

<div class="">
    <h1>Notitie overzicht</h1>
    @if (!ViewBag.Succeeded)
    {
        <p>Er is iets mis gegaan.</p>
    }
    else {
        @if (Model.Count() == 0)
        {
            <p>Je hebt geen categorieën</p>
        }
        else
        {
            @foreach (CategoryModel category in Model)
            {
                <div>
                    <h2><a asp-controller="Category" asp-action="Details" asp-route-Id="@category.ID">@category.Title</a></h2>
                    <a asp-controller="Category" asp-action="Edit" asp-route-Id="@category.ID">Bewerken</a>
                    <a asp-controller="Category" asp-action="Delete" asp-route-Id="@category.ID">Verwijderen</a>
                    <hr>

                    <div class="note-container">
                        @if (category.NoteList.Count() == 0)
                        {
                            <p>Deze categorie heeft geen notities</p>
                        }
                        else
                        {
                            @foreach (NoteModel note in category.NoteList)
                            {
                                @Html.Partial("_Note", note)
                            }
                        }
                    </div>
                </div>
            }
        }
    }
</div>
