@model dynamic

@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Identity
@using NoteBaseLogicInterface.Models
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="">
    <h1>Alle jou notities</h1>
    @if (!Model.categoryResponse.Succeeded)
    {
        <p>er is iets mis gegaan: @Model.categoryResponse.Message</p>
    }
    else if (!Model.noteResponse.Succeeded)
    {
        <p>er is iets mis gegaan: @Model.noteResponse.Message</p>
    }
    else {
        @foreach (Category category in Model.categoryResponse.Data)
        {
            <div>
                <h1>@category.Title</h1>

                <div class="note-container">
                    @foreach (Note note in Model.noteResponse.Data)
                    {
                        if (note.Category.ID == category.ID)
                        {
                            <div class="note">
                                <h1>@note.Title</h1>
                                <p>@note.Text</p>
                                <br>
                                <p>
                                    @for (int i = 0; i < note.TagList.Count() - 1; i++)
                                    {
                                        <span>@note.TagList[i].Title ,</span>
                                    }
                                    <span>@note.TagList.Last().Title</span>
                                </p>
                            </div>
                        }
                    }
                </div>
            </div>
        }
    }
</div>
