@model Response<CategoryModel>

@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Identity
@using NoteBaseLogicInterface.Models
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="">
    <h1>Alle notities</h1>
    @if (!Model.Succeeded)
    {
        <p>er is iets mis gegaan: @Model.Message</p>
    }
    else {
        @foreach (CategoryModel category in Model.Data)
        {
            <div>
                <h2><a asp-controller="Category" asp-action="Details" asp-route-Id="@category.ID">@category.Title</a></h2>
                <a asp-controller="Category" asp-action="Edit" asp-route-Id="@category.ID">Bewerken</a>
                <hr>

                <div class="note-container">
                    @foreach (NoteModel note in category.NoteList)
                    {
                        <div class="note shadow-lg p-3 mb-5 rounded">
                            <h1>@note.Title</h1>
                            <p>@note.Text</p>
                            <br>
                            <p>
                                @for (int i = 0; i < note.TagList.Count() - 1; i++)
                                {
                                    <span>@note.TagList[i].Title ,</span>
                                }
                                <span>@note.TagList.Last().Title</span>
                            </p>
                        </div>
                    }
                </div>
            </div>
        }
    }
</div>
